.todo {
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.5rem;
}

.todo.completed {
    text-decoration: line-through;
}

.todo-form {
    margin: 1rem 1rem 0;
    padding: 1rem 1rem 0.5rem;
}

.todo-list {
    margin: 0 1rem 1rem;
    padding: 0.5rem 1rem 1rem;
}